body {
    background-color: #fea49f;
    font-family: 'Advent Pro', serif;
    color: white;
    display: flex;
    flex-direction: column;
}
#title-bar {
    border-radius: 5px;
    background-color: #101357;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#title-text {
    font-size: 50px;
};

#myContainer {
    position: relative;
}
#animated-image {
    width: 120px;
    height: 100px;
    position: absolute;
}